#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
 
.main-container {
  display: flex;
}

.fake-logo {
  font-weight: 600;
  font-size: larger;
}

.ImageGridWithEdit {
  flex-grow: 1;
  min-width: 500px; /* adjust as needed */
}

.flex-container {
  display: flex;
}





/* .image-grid-container {
  display: flex;
} */


