.closet-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.clothing-container {
    border: black 1px solid;
    padding: 20px;
    margin: auto;
    min-height: 600px;
    width: 600px;
}

.garment {
    width: 100px; /* Set a default width */
    height: 100px;/* Adjust as needed */
    margin: 10px;  
}

.garment img {
    width: 100px; /* Set a default width */
    height: 100px; /* Set a specific height */
    object-fit: cover; /* This will ensure that your images cover the area without distorting their aspect ratios */
}

@media (max-width: 600px) {
    .clothing-container {
        width: 100%;
        height: auto;
    }

    .garment {
        width: 100%;
    }

    .garment img {
        height: 150px; /* Adjust as needed */
    }
}

/* For screens between 600px and 900px */
@media (min-width: 600px) and (max-width: 900px) {
    .clothing-container {
        width: 100%;
        height: auto;
    }

    .garment {
        width: 50%;
    }

    .garment img {
        height: 200px; /* Adjust as needed */
    }
}