.image-grid-container {
    border: black 1px solid;
    position: relative;
    height: 87vh; 
    width: 40vw;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */
    padding: 20px;
    margin: auto;
}

.image-grid-container button {
    height: 50px; /* or any other value */
  }

  .add-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}